.why__us {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.frit__service-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frit__service-container button{
 width: 20%;
 max-width: 200px;
 min-width: 150px;
 margin: auto !important;
}

@media screen and (max-width: 768px) {
  .why__us {
    flex-direction: column;
  }
}
